<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: page_head('Page Not Found - Shopme', 'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div class="set-height m-3 text-center">
        <h2>Sorry, the requested page could not be found</h2>
        <img alt="Image preview" th:src="@{/images/404.png}" class="img-fluid" />
    </div>

    <div th:replace="navigation :: footer_menu"></div>
</div>

</body>
</html>